/* STYLE V2 FOR UPSALE FORM */
#up-form input[type="text"],
#up-form input[type="email"],
#up-form textarea {
    border: 1px solid #ccc4bd;
    padding: 1.6rem 2rem;
    border-radius: 0.4rem;
    width: 100%;
    box-sizing: border-box;
}

#up-form input[type="text"]:focus,
#up-form input[type="email"]:focus,
#up-form textarea:focus {
    border-color: #4F2D7F;
}
